{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="content">
    <!-- <h1>Home Page</h1> -->

    <div class="searchbox-container">
        <form action="{{ url_for('get_images_by_tags') }}">
            <input type="text" id="tags" name="tags">
            <input type="submit" value="Search">
        </form>
    </div>

    {% if images.pages > 0 %}
    <div class="pagination" style="text-align: center;">
        {% if images.has_prev %}
        <a href="{{ url_for('index', page=images.prev_num) }}">Previous</a>
        {% endif %}
        
        {% for page_num in images.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if page_num %}
            <a href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            ...
            {% endif %}
        {% endfor %}

        {% if images.has_next %}
        <a href="{{ url_for('index', page=images.next_num) }}">Next</a>
        {% endif %}
    </div>
    {% endif %}

    <div class="images-container">
        <table class="images-table">
            <tbody>
                {% for image_batch in images | batch(8) %}
                    <tr class="images-row">
                        {% for image in image_batch %}
                            <td class="image-cell">
                                <div class="image-post" style="display: flex; align-items: center; justify-content: center;">
                                    <a href="{{ url_for('get_image_post', id=image.id) }}">
                                        <img
                                            src="{{ url_for('get_image', id=image.id) }}"
                                            style="max-width: 200px; max-height: 200px; padding: 5px;"
                                            loading="lazy"
                                        >
                                    </a>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if images.pages > 0 %}
    <div class="pagination" style="text-align: center;">
        {% if images.has_prev %}
        <a href="{{ url_for('index', page=images.prev_num) }}">Previous</a>
        {% endif %}

        {% for page_num in images.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if page_num %}
            <a href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            ...
            {% endif %}
        {% endfor %}

        {% if images.has_next %}
        <a href="{{ url_for('index', page=images.next_num) }}">Next</a>
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock %}