{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block styles %}
<link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>

<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {

        const lazyLoadImages = document.querySelectorAll(".lazy-load");

        if ("IntersectionObserver" in window) {
            let imageObserver = new IntersectionObserver((entries, observer) => {
                entries.forEach((entry) => {
                    if (entry.isIntersecting) {
                        const img = entry.target;
                        img.src = img.dataset.src;
                        img.classList.remove("lazy-load");
                        observer.unobserve(img);
                    }
                });
            });

            lazyLoadImages.forEach((img) => {
                imageObserver.observe(img);
            });
        } else {
            // Fallback for browsers that do not support IntersectionObserver
            lazyLoadImages.forEach((img) => {
                img.src = img.dataset.src;
                img.classList.remove("lazy-load");
            });
        }
    });
</script>

<!-- CSS Styling -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wrap-list.css') }}">

{% endblock %}

{% block content %}
<div class="content">

    {% if images.total > 0 %}
    <div class="search-results-count" style="text-align: center;">
        <h2>({{ images.total }}) results</h2>
    </div>
    {% endif %}

    {% if images.pages > 0 %}
        <div class="pagination" style="text-align: center;">
            {% if images.has_prev %}
                <a href="{{ url_for('index', tags=keyword, page=images.prev_num) }}">Previous</a>
            {% endif %}
            
            {% for page_num in images.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                {% if page_num %}
                    {% if current_page == page_num %}
                        {{ page_num }}
                    {% else %}
                        <a href="{{ url_for('index', tags=keyword, page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}

            {% if images.has_next %}
                <a href="{{ url_for('index', tags=keyword, page=images.next_num) }}">Next</a>
            {% endif %}
        </div>
    {% endif %}

    <div class="images-container">
        <ul class="wrap-list">
            {% for image in images %}
                <li>
                    <div style="vertical-align: middle; display: table-cell;">
                        <a href="{{ url_for('get_image_post', id=image.id) }}">
                            <img
                                src="/static/images/placeholder.jpg"
                                data-src="{{ url_for('get_thumbnail', id=image.id) }}"
                                style="max-width: 200px; max-height: 200px;"
                                loading="lazy" class="lazy-load"
                            >
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if images.pages > 0 %}
        <div class="pagination" style="text-align: center;">
            {% if images.has_prev %}
                <a href="{{ url_for('index', tags=keyword, page=images.prev_num) }}">Previous</a>
            {% endif %}
            
            {% for page_num in images.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
                {% if page_num %}
                    {% if current_page == page_num %}
                        {{ page_num }}
                    {% else %}
                        <a href="{{ url_for('index', tags=keyword, page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}

            {% if images.has_next %}
                <a href="{{ url_for('index', tags=keyword, page=images.next_num) }}">Next</a>
            {% endif %}
        </div>
    {% endif %}
</div>

{% endblock %}