{% extends 'base.html' %}

{% block title %} Post: {{ image_stats.id }} {% endblock %}

{% block styles %}
<style>
    .tag-category-title {
        font-weight: bold;
    }
    .tag-list {
        list-style: disc;
        margin: 0;
    }
    .tags-container {
        margin: 10px;
    }
    .tag-category-title {
        margin-bottom: 10px;
    }
    .tag-category {
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="content">
    <div style="text-align: center; margin: 10px;">
        <h1 style="margin: auto;">Post</h1>
        <span><a href="{{ url_for('get_image_post', id=image_stats.id, edit=true) }}">edit</a></span>
    </div>

    <div class="image-container">
        {% if image_stats.media_type == 'video' %}
            <video style="max-width: 600px;" controls>
                <source
                    poster="{{ url_for('get_thumbnail', id=image_stats.id) }}"
                    src="{{ url_for('get_image', id=image_stats.id) }}"
                    preload="metadata"
                >
            </video>
        {% else %}
            <img
                src="{{ url_for('get_image', id=image_stats.id) }}"
                style="max-width: 600px;"
                loading="lazy"
            >
        {% endif %}
    </div>
    <div class="tags-container">

        {% for category, tags in category_tags %}
            <div class="tag-category">
                <span class="tag-category-title">{{ category | title }}</span>

                <ul id="tag-list" class="tag-list">
                    {% for tag in tags %}
                        <li class="tag-list-item no-list">
                            <span>
                                <a href="{{ url_for('get_images_by_tag', name=tag[0].name) }}">
                                    {{ tag[0].name }}
                                </a>
                                ({{ tag[1] }})
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        {% endfor %}
        
    </div>
    <br/>
    <div class="details">
        <span><strong>ID:</strong> {{ image_stats.id }}</span><br/>
        <span><strong>Date:</strong> {{ image_stats.date }}</span><br/>
        <span><strong>File Type:</strong> {{ image_stats.mimetype }}</span><br/>
        <span>
            <a
                href="{{ url_for('get_image', id=image_stats.id) }}"
                target="_blank"
                rel="noreferrer noopener"
            >
                <button>View original</button>
            </a>
        </span>
    </div>
    
</div>

{% endblock %}