{% extends 'base.html' %}

{% block title %}New Tag{% endblock %}

{% block content %}
<div class="content">
    <h1>Tag Editor</h1>

    <form method=post enctype=multipart/form-data action="{{ action_url }}">
        <div class="tag-name tag-input">
            <label for="name" >Name: </label>
            <input type="text" name="name" value="{{ tag_name }}" required />
        </div>
        <div class="tag-category tag-input">
            <label for="category" >Category: </label>
            <input type="text" name="category" value="{{ tag_category_name }}" list="category-list" />
            <datalist id="category-list">
                {% for category in categories %}
                <option value="{{ category.name }}"></option>
                {% endfor %}
            </datalist>
        </div>
        <div class="tag-descrption">
            <textarea
                name="description"
                cols="40" rows="10"
                placeholder="Enter description..."
                style="resize: vertical;"
            >{{ tag_description }}</textarea>
        </div>
        <br/>
        <input type=submit value="Save" />
        <input type="button" value="Cancel" onclick="location.href='{{ url_for('tags_index') }}'" />
    </form>
</div>

{% endblock %}