{% extends 'base.html' %}

{% block title %} Tag: {{ tag.name }} {% endblock %}

{% block content %}
<div class="content">
    <div style="text-align: center; margin: 10px;">
        <h1 style="margin: auto;">{{ tag.name | replace("_", " ") | title }}</h1>
        {% if tag.category_id %}
            <span><strong>{{ tag.category.name }}</strong></span>
        {% endif %}
    </div>

    {% if tag.description %}
        <p>{{ tag.description }}</p>
    {% else %}
        <p>No description</p>
    {% endif %}

    <div class="delete-button-container" id="delete-button-container">
        <button class="delete-button" onclick="confirmDeletePost()">Delete</button>
    </div>
</div>
<script>
    const buttonContainer = document.getElementById("delete-button-container");

    function confirmDeletePost() {
        const confirmation = confirm(
            "Are you sure you want to delete this image?\nDeletion will PERMANENTLY remove this tag."
        );

        if (confirmation) {
            window.location.href = `{{ url_for("delete_tag", id=tag.id) }}`;
        }
    }
</script>

{% endblock %}